:root {
    --background-color: rgb(30, 77, 66);
    --background-accent: rgb(255, 224, 168);
    --foreground-color: rgb(73, 233, 166);
    --foreground-accent: rgb(236, 158, 39);
}

#page {
    background-color: var(--background-color);
    font-family: Agave;
    font-size: 12px;
}

.racoon-speak {
    margin: auto;
    width: 60%;
    border: 3px solid var(--foreground-accent);
    background-color: var(--foreground-color);
    padding: 10px;
    color: var(--foreground-accent);
    text-align: center;
    position: relative;
    border-radius: 10px 5px 5px 10px;
}

.wide {
    width: 100%;
    height: auto;
}

.speaking-raccoon {
    position: absolute;
    top: 42px;
    left: 140px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

.columns {
    display: flex;
    
}

a {
    color: var(--foreground-accent);
}

#title {
    font-size: 25px;
    font-weight: bold;
    border: 2px solid rgb(11, 26, 78);
    text-align: center;
    color: rgb(140, 251, 255);
    padding: 2px;
    background-color:rgb(0, 112, 116)
}

#main-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px groove black;
    background-color: teal
}

#main-nav > * {
    border: 1px ridge var(--background-accent);
    background-color:rgb(67, 226, 231)
}

#main-body {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#left-col {
    width: 30%;
    text-align: center;
    border-style: outset;
}

#right-col {
    width: 70%;
    text-align: center;
    border-style: dotted;

}

.caveat {
    font-size: 4px;
    z-index: -1;
    color: rgb(0, 112, 116);
    position: absolute;
}